.bannerAbout {
    background-color: var(--blue-800);
    padding: 12rem 0;
}

.bannerAboutContainer {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}

.bannerAboutImage {
    text-align: right;
    margin-bottom: 3rem;
    color: #fff;
}

.bannerAboutImage p {
    margin-bottom: 1rem;
}

.bannerAboutImage img {
    max-width: 70%;
    height: auto;
}

.bannerAboutContent {
    width: 50%;
    max-width: 640px;
    color: var(--slate-100);
}

.bannerAboutContent p {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 640px) {
    .bannerAbout { padding: 8rem 0; }
    .bannerAboutContainer { flex-direction: column;}
    .bannerAboutImage { text-align: center; }
    .bannerAboutContent { width: 100%; max-width: 100%; }
}