.bannerQuote {
    background-color: var(--blue-500);
    height: 100vh;
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerQuoteContainer {
    width: 90%;
    max-width: 1000px;
    color: var(--white-900);
}

.bannerQuoteContainer p {
    font-size: 3rem;
    text-align: center;
    line-height: 3.5rem;
}
